.row{
    color: #fff;
    margin-left: 15px;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.poster{
    max-height: 350px;
    margin-left: 15px;
    cursor: pointer;
}
.small_poster{
    max-height: 150px;
    margin-left: 15px;
    cursor: pointer;
}
.small_poster:hover{
    transform: scale(1.1);
}
.poster:hover{
    transform: scale(1.1);
}